* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

body {
  background:
  linear-gradient(to bottom right, #3C4BBD 15%, transparent),
  radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
  linear-gradient(to bottom right, #3C4BBD, #57ADD8);
  font-family: 'Noto Naskh Arabic', serif;
}

.container {
  margin: 2rem;
}

